* {
  margin: 0;
  padding: 0;
}

#navBar {
  display: flex;
  background-color: rgb(164, 157, 148);
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}
#logoMain {
  height: 100px;
  width: 100px;
  background: url("/images/logo/logo-no-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 25px;
}
#menu {
  height: 80px;
  width: 550px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu ol {
  display: flex;
  text-decoration: none;
  list-style: none;
}
#menu ol a { 
  padding: 10px;
  text-decoration: none ;
  color: white;
}


#container{
  height: 84.5vh;
  width: 100%;
  background: url("/images/hero/IMG_8946.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.heroText{
  color: white;
}